body {
  font-family: "Lemonada", cursive;
}
.App {
  overflow: hidden;
  width: 100vw;
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  clip-path: polygon(50% 0%, 100% 0, 100% 90%, 0 100%, 0 100%, 0% 60%, 0 0);
  z-index: 1;
}
.on-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  /* clip-path: polygon(50% 0%, 100% 0, 100% 90%, 0 100%, 0 100%, 0% 60%, 0 0); */
  z-index: 1;
  position: fixed;
}
@keyframes menu {
  from {
    transform: translateX(300px);
  }
  to {
    transform: translateX(0);
  }
}
.menu-window {
  animation: menu linear 0.5s;
}
.menu-window {
  transition: all 0.5s;
}
.menu-page:hover {
  background: linear-gradient(to right, #ff4d58, #df2189);
}
video {
  clip-path: polygon(50% 0%, 100% 0, 100% 90%, 0 100%, 0 100%, 0% 60%, 0 0);
}
